@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Simplificando .NET</h1>
    <p class="lead">Video Aula sobre DDD e criação de uma aplicação do 0.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DDD</h2>
        <p>
            Padrão de separação de camadas dirigida a Dominio, ou seja, centralizador de regras de Negócio.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Repository Pattern</h2>
        <p>Padrão de projeto para Isolar a camada de acesso a dados (DAL) das demais camadas.</p>
    </div>
    <div class="col-md-4">
        <h2>Injeção de Dependência</h2>
        <p>Injeção de dependência é um padrão de desenvolvimento de programas de computadores utilizado quando é necessário manter baixo o nível de acoplamento entre diferentes módulos de um sistema..</p>
    </div>
</div>